/* Import Fonts */
@import "ubuntu.css";
@import "animations.css";

/* Header */
.header {
  overflow: hidden;
  background-color: grey;
  padding: 10px 16px;
  border-style:solid;
  border-color:black;
}
  
.header a {
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
  transition: background-color 1s;
  transition: box-shadow 1s;
  font-family: 'Ubuntu';
}

.header a.logo {
  font-size: 30px;
  font-weight: bold;
  background-color: rgba(192, 192, 192, 0.6);
}

.header a.logo:hover {
  background-color: rgba(192, 192, 192, 0.8);
  box-shadow: 2px 2px 5px;
}

.header a.active {
  background: linear-gradient(to right, red, red, rgb(255, 30, 0), rgb(255, 60, 0), rgb(255, 90, 0), rgb(255, 120, 0));
  background-size: 400% 100%;
}

.header a.active:hover {
  -webkit-animation: start_color_animation 6s ease-in-out infinite;
  animation: start_color_animation 6s ease-in-out infinite;
  box-shadow: 2px 2px 5px;
}

.header a.extra {
  padding: 7px;
  transition: box-shadow 2s;
  background-color: rgba(192, 192, 192, .4);
}

.header a.extra:hover {
  background-color: rgba(192, 192, 192, .5);
  box-shadow: 2px 2px 5px;
}

.header-right {
  float: right;
}

@media screen and (max-width: 800px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  .header-right {
    float: none;
  }
}

.sticky {
  position: fixed;
  top: 0;
}

.bottom {
  font-size: 10px;
  bottom: 0;
}

/* Default image class */
.image {
  border-radius: 10px
}

/* Fade animation */
.fadeanimation {
  transition: opacity 0.5s;
}

.infoheader {
  font-family: 'Ubuntu';
  text-align: center;
}

/* Deafault Body Tag */
body {
  background-color: black;
  color: white;
}